{% extends "__layout.twig" %}
{% block content %}


<div class="row mt-3">
        {% for object in memes_objects %}
        <div class="m-3 text-center col" style=" border: 1px solid lightgray">
            <div class="mt-2">
                <img class = "m-2" src="{{object.images}}" style="width: 200px;"/>
                <div class="row m-2">
                    <a class = "btn btn-primary" href="/memes_objects/{{object.id}}">{{object.title}}</a>
                </div>
                <div class="mb-4">
                    <a class = "btn btn-link" href="/memes_objects/{{object.id}}/image">Картинка</a>
                    <a class = "btn btn-link" href="/memes_objects/{{object.id}}/info">Описание</a>
                </div> 
            </div>
        </div>
        {% endfor %}
</div>

{% endblock %}